.footer {
    background-color: #4F6F52;
    color: #F1F1F1;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 96%;
}

.footer-content, .footer-more {
    display: inline-block;
    vertical-align: top;
}

.footer p {
    margin-bottom: 10px;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 5px;
}

.footer-content {
    margin-right: 100px;
}

.footer-more {
    margin-left: 100px;
}

@media screen and (max-width: 800px) {
    .footer {
        width: 86%;
    }

    .footer-content, .footer-more {
        display: block;
        margin: 0;
    }
}

