

.container {
    border-radius: 2vmax;
    align-content: center;
    text-align: center;
    width: 650px;
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
}

.register {
    padding: 2vmax;
    margin: 2vmax;
    border-radius: 2vmax;
    background-color: #F1F1F1;
    box-shadow: 0 0 2px #919191;
}

.register form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.register form input {
    margin-top: 10px;
    border-radius: 1vmax;
    height: 25px;
    width: 250px;
    border: solid 0.1vmax #bebebe;
}

#submitBtn {
    width: 125px;
    height: 50px;
    background-color: #B5C18E;
}

.input-group {
    display: flex;
    flex-direction: row;
    margin-right: 25px
}

.input-group img {
    margin-top: 8px;
    margin-right: 5px;
}
