* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  color: #333;
}

body button {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: black;
}

.container {
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  padding: 20px;
}

/* Header styles */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header-controls {
  display: flex;
  align-items: center;
}

.dark-mode-label {
  margin-right: 10px;
}

/* Timeline styles */
.timeline {
  position: relative;
  border: 1px solid #ccc;
  overflow: hidden;
  height: 1400px;
}

.hours {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 60px;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

.activities {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 60px;
  right: 0;
  height: 1400px;
}

#addActivity {
  background-color: #48abe0;
  border: none;
  border-radius: 10vmax;
  box-shadow: 0 3px 6px gray;
  transition: ease 0.3s
}

#addActivity:hover {
  background-color: #81d3ff;
}

.current-hour-line {
  position: absolute;
  left: 60px;
  right: 0;
  top: 0;
  height: 2px;
  background-color: red;
}

.current-hour-text {
  left: 10px;
  position: absolute;
  color: black;
  top: 0;
  font-weight: bold;
}

/* Activity styles */
.activity {
  width: 150px;
  position: absolute;
  color: white;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 5px;
}

.activity.short {
  color: black;
  border-radius: unset;
  margin-bottom: 5px;
  text-decoration: underline;
}

/* Modal styles */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  z-index: 1001;
  display: none;
}

.button-container {
  margin-top: 10px;
}

#cancelBtn {
  background-color: #ff3333;
}

#cancelBtn:hover {
  background-color: #cc0000;
}

/* Dark mode */
.dark-mode {
  background-color: #333;
  color: #fff;
}

/* Responsive design */
@media only screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .header-controls {
    margin-top: 10px;
  }
}
